mixin addList(arr, arr1, arr2)
	ul(class=arr1)
		each val,index in arr
			li(class=arr2): a(href= val) #{index}

mixin addCss(arg)
	each val in arg
		link(rel='stylesheet' href='css/#{val}.css')

mixin addMenu(arr, arr1, arr2)
	ul(class=arr1)
		each val in arr
			li(class=arr2)
				a(href='specials.html' data-database='#{val.data}') #{val.name}

mixin addJs(arg)
	each val in arg
		script(src='js/#{val}.js').